<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjRLC9FiG5xT8OHESkVO2IRxgpw942v8I</string>
	<key>GCM_SENDER_ID</key>
	<string>861775285204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diogocosta.com.duoWords</string>
	<key>PROJECT_ID</key>
	<string>duo-words-ca0ac</string>
	<key>STORAGE_BUCKET</key>
	<string>duo-words-ca0ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861775285204:ios:12a38ab8e811176da7a441</string>
</dict>
</plist>